<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success"><a class=navbar-brand href=#>Battlechip</a> <button class=navbar-toggler type=button data-toggle=collapse data-target=#navbar aria-controls=navbarNav aria-expanded=false aria-label=Toggle><span class=navbar-toggler-icon></span></button>
        <div class="collapse navbar-collapse"
            id=navbar>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="nav-item nav-link active" href=/register>Register</a></li>
                <li><a class="nav-item nav-link active" href=/login>Login</a></li>

                </ul>
        </div>
    </nav>
    <% if(typeof data.msg !== 'undefined' ){
            if(data.msg.length > 0){ %>
                <div class="alert alert-warning"> <%- data.msg %> </div>
    <%      }
        }%>
    <div class="content" style="margin-top: 90px;">
        <%- data.route === 'login' ? include('partials/login') : include('partials/register') %>
    </div>
</body>
</html>