<template>
  <div>
    <Navbar />
    <router-view />
    <Footer />
  </div>
</template>

<script>
  import Navbar from './components/Navbar';
  import Footer from './components/Footer';

  export default {
    name:'app',
    components:{
      Navbar,
      Footer
    },
    data: function () {
      return{
      }
    },
    sockets:{
      sendUserID: function(data){
        this.$store.commit('setUserID', data);
      }
    }
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
*::selection{
  background:#28a745
}
.clickable{
    cursor:pointer;
}
</style>
