<template>
  <li v-bind:ref="size" v-on:click='chooseBoat'><img v-bind:src="boat_boat.image" width="50" height="50"/><br><br><br></li>
</template>

<script>
export default {
  name: 'Boat',
  props: {
    size: Number,
    name: String,
    boat: Object,
    num: String,
  },
  data: function(){
    return {
      boat_size: this.size,
      boat_name: this.name,
      boat_boat: this.boat,
      boat_num: this.num,
    }
  },
  methods: {
    chooseBoat: function() {
        /* eslint-disable no-console */
        // console.log("teste " + this.boat_name + " - " + this.boat_size + " - " + this.boat_boat.name);
        this.$store.commit('setBoat', this.boat_boat);
        // console.log("aa" +  this.boat_boat.size);
        // console.log("aa" + this.getCurrentBoat.size);
    },
  },
  computed: {
    
  }
}
</script>


<style scoped>
li { /* Classe para pintar o fundo da célula */
    display: inline;
    margin-right: 5%;
}
</style>