<template>
    <!-- O que contém cada elemento cell, ou seja, quando for criado um componente cell, basicamente está a ser criado o que está dentro do <template> -->
    <!-- O conteúdo do td, que aparece dentro da célula, é num_clicks, que se refere ao ID da célula -->
    <!-- Com o v-bind, quando o valor da variável é alterado, imediatamente é alterado o seu valor onde é chamado -->
    <td v-bind:class='class_val' v-bind:ref="cell_id" v-bind:cell_id="cell_id_cell" v-on:mouseleave='deoverAction' v-on:click='clickAction' v-on:mouseover='hoverAction'></td>
</template>

<script>
import {eventBus} from '../main' // eventBus permite a comunicação entre os componentes

var count = 0; // Conta o número de células que estão desocupadas, ao posicionar um barco
var done = false; // Indica se uma célula já está preenchida
var num_clicks = ''; 
var class_val = ''; // Classe que pintará o background de cinzento, para indicar que o barco está colocado lá

var cellClass = ''; // Esta variável guardará a classe da célula desejada

export default {
    name: 'Cell',
    props:{ // Propriedades do componente, ou seja, quando criarem componente cell, têm de enviar v-bind:cell_id
        cell_id:String,
        board_id: Number,
    },
    data: function(){ // Dados usados neste componente
        return{
            num_clicks,
            cell_id_cell:this.cell_id,
            class_val,
            boardID: this.board_id,
            done,
            count,
        }
    },
    methods:{ // Métodos deste componente (métodos de uma célula)

        clearBoats: function () { // Permitirá fazer reset aos barcos


            var boat; // Irá guardar cada um dos barcos

            // Coloca o número de barcos colocados na grid com o valor 0 (não foram colocados barcos pois foram todos retirados)
            this.$store.commit('resetNumBoats');


            // Para cada um dos barcos existentes (os 5 barcos)
            for(var i=0; i< this.$store.state.boatsList.length; i++) {

                boat = this.$store.state.boatsList[i]; // Vai buscar cada um dos barcos à lista
                this.$store.commit('setBoat', boat); // Guarda o barco atual (para poder alterar os seus parâmetros)
                this.$store.commit('placeBoat', false); // Diz que o barco atual guardado, não está colocado na grid (altera o barco atual)

            }


            // Envia o id do jogo e o nº do jogador para o servidor, para remover todos os barcos guardados
            var sendData = [];
            sendData[0] = this.$store.state.gameID; // Envia o id do jogo
            sendData[1] = this.$store.state.num_player; // Envia o nº do jogador
            this.$socket.emit('resetAllBoats', sendData); // Avisa ao servidor para remover todos os barcos deste utilizador


        },
        
        automaticPlacingBoats: function () {


            // Coloca o número de barcos colocados na grid com o valor 0 (não foram colocados barcos pois foram todos retirados)
            this.$store.commit('resetNumBoats');

            /* eslint-disable no-console */

            var boat = ""; // Barco atual
            var row = 0, col = 0, orientRandom = 0; // Linha, coluna e orientaçaõ random
            var boatOrientation = ""; // Orientação do barco
            var cell_id = ""; // Célula do barco
            var automaticBoats = [], automaticBoatsNumbers = []; // Guarda todos os arrays relativos aos barcos colocados

            var sendData = []; // Para enviar vários dados para o servidor



            // Para cada um dos barcos existentes (os 5 barcos)
            for(var i=0; i< this.$store.state.boatsList.length; i++) {

                count = 0; // Reinicializa o count (será usado para verificar se o barco pode ser colocado - devolve o nº de células disponíveis nas células calculadas)
                boat = this.$store.state.boatsList[i]; // Vai buscar cada um dos barcos à lista
                this.$store.commit('setBoat', boat); // Guarda o barco atual


                while (count != boat.size) { // Enquanto não arranjar posição onde caiba o barco

                    row = (Math.floor(Math.random() * 10) + 1); // Calcula linha
                    col = (Math.floor(Math.random() * 10) + 1); // Calcula coluna
                    orientRandom = (Math.floor(Math.random() * 4)); // Calcula orientação entre 0 - 3


                    // Decide a orientação do barco com base no valor random (0-3)
                    if (orientRandom == 0) boatOrientation = 'up';
                    else if (orientRandom == 1) boatOrientation = 'right';
                    else if (orientRandom == 2) boatOrientation = 'down';
                    else if (orientRandom == 3) boatOrientation = 'down';

                    count = 0; // Reinicializa o count
                    
                    for (var y = 0; y < boat.size; y++) { // Para cada um dos barcos

                        cell_id = String.fromCharCode(65+row) + "" + (col+1); // Calcula a célula (0,0 passa a A1, etc)

                        eventBus.$emit(getSiblingsCellID(cell_id, boatOrientation, y)+'-count-0'); // Verifica se pode colocar lá o barco (se o número do count for igual ao nº de células do barco, então pode)
                    
                    }

                }


                if (count == boat.size) {  // Se o nº de células disponíveis for igual ao tamanho do barco, pode colocar lá

                    // Incrementa o número de barcos colocados na grid
                    this.$store.commit('increaseNumBoats');

                    // Vai guardar posições em que o barco ocupa
                    var positionsUsedByBoat = []; 

                        
                    for (var z = 0; z < boat.size; z++) { // Percorre o tamanho do barco todo (as células todas)

                        // Coloca o barco atual como colocado, para não repetir o mesmo (boolean)
                        this.boatPlaced();

                        // Guarda as posições que o barco ocupa
                        positionsUsedByBoat.push(getSiblingsCellID(cell_id, boatOrientation,z));

                        eventBus.$emit(getSiblingsCellID(cell_id, boatOrientation, z)+'-done-1'); // Atualiza os quadros com os barcos calculados (o 1º refere-se ao quadro onde colocamos os barcos)
                        eventBus.$emit(getSiblingsCellID(cell_id, boatOrientation, z)+'-done-0'); // Atualiza o 2º quadro (o do jogador)
                   
                   
                   }


                    // Guarda todas as posições de todos os barcos (para depois enviar ao servidor)
                    automaticBoats.push(positionsUsedByBoat);

                    // Guarda todas as letras que identificam os barcos (para depois enviar ao servidor)
                    automaticBoatsNumbers.push(boat.num);


                }

            }



            // Envia todas as as posições que o barcos automáticos ocupam, para guardar na base de dados
            sendData[0] = automaticBoats; // Envia todas as posições de todos os barcos (array)
            sendData[1] = this.$store.state.gameID; // Envia o id do jogo
            sendData[2] = this.$store.state.num_player; // Envia o nº do jogador
            sendData[3] = automaticBoatsNumbers; // Envia todos os nº dos barcos (array)
            sendData[4] = true; // Indica que são barcos random (automáticos)
            this.$socket.emit('placedBoat', sendData); // Quando é colocado um novo barco, são enviadas as posições, o id do jogo e o nº do jogador


            /* if (this.$store.state.num_boats == 5 && this.$store.state.ready) {
                this.$socket.emit('finishedAddingBoats', this.$store.state.gameID);
            } */



        },

        waterCell: function() {
            this.$store.commit('playMiss');
            this.class_val = "water";
            // var audio = new Audio(require('../../assets/testaudio.mp3')
            // var audio = new Audio("../assets/zapsplat_bells_church_bell_ring_12_ext_med_close_43634.mp3");
            // audio.play();

        },
        shotCell: function() {
            this.$store.commit('playHit');
            this.class_val = "shot";

        },

        explodCell: function () {
            this.$store.commit('playHit');
            this.class_val = "explode";

        },
        
        removeDone: function () {
            this.done = false;
        },

        demarkCell: function (){ // Desmarcar célula (tirar a cor de fundo caso o barco não fique posicionado lá)
            if (!this.done && this.boardID == 0) {
                this.num_clicks = ""; // Retirar o id da célula que aparece dentro da célula
                this.class_val = ""; // Remover a classe que dá a cor de fundo
            }
        },
        demarkCellGrid: function (){ // Remover barco da grid 1 quando for removido da grid 0
            if (!this.done && this.boardID == 1) {
                console.log("aaa" + this.cell_id_cell);
                this.num_clicks = ""; // Retirar o id da célula que aparece dentro da célula
                this.class_val = ""; // Remover a classe que dá a cor de fundo
            }
        },
        markCell: function (){ // Marcar célula (adicionar cor de fundo para indicar onde ficará o barco posicionado)
            if (!this.done && this.boardID == 0) { // Se ainda não foi colocado
                if (this.getCurrentBoat.isPlaced) {
                    this.num_clicks = this.cell_id 
                    this.class_val = "cant"; // Adiciona a classe que coloca fundo quando o barco já foi colocado (e só pode ser colocado 1x)
                } else {
                    this.num_clicks = this.cell_id // Mostrar o id da célula a aparecer dentro da célulaa
                    this.class_val = "selected"; // Adiciona a classe que coloca fundo a indicar as posições onde o barco se situará
                }
            }
        },
        cellMarked: function (){
            if (!this.done && this.boardID == 0) {
                this.done = true;
                this.class_val = "done";
            }
            if (this.boardID == 2) {
                this.class_val = "done";
            }
            if (this.boardID == 1) {
                this.class_val = "done";
            }
        },
        counte: function (){
            if (!this.done && this.boardID == 0) {
                count++;
            }
        },

        getCellClass: function() { // Esta função guarda numa variável qual a classe de uma determinada célula
            cellClass = this.class_val;
        },

        // Este método é chamado quando é feito um hover em cima da célula
        hoverAction: function(){

            // Marcar as restantes células dependendo do tamanho do barco
            // Ou seja, se o barco ocupa 3 posições, têm de ficar marcadas as 3 posições e não apenas a que está a ser feito um hover
            // No eventBus, para comunicar com os outros componentes (outras células), é enviada a mensagem, através do $emit
            // A mensagem pode ser por ex. "A2-hover" e "A3-hover" que indica que é para marcar as células A2 e A3
            var i;
            for (i = 0; i<this.getCurrentBoat.size; i++) {
                eventBus.$emit(getSiblingsCellID(this.cell_id_cell, this.getBoatOrientation,i)+'-hover-'+this.boardID); // Envia mensagem para os componentes (comunica)
            }

        },
        // Este método é chamado quando é retirado o hover de cima da célula
        deoverAction: function(){

            count = 0; // Zerar o contador (que conta o número de células não ocupadas)

            // Desmarcar as restantes células quando o hover já não é feito, dependendo do tamanho do barco
            // É o processo inverso do método anterior, pois, desmarca dependendo do tamanho do barco
            // A mensagem pode ser por ex. "A2-leave" e "A3-leave" que indica que é para desmarcar as células A2 e A3
            var i;
            for (i = 0; i<this.getCurrentBoat.size; i++) {
                eventBus.$emit(getSiblingsCellID(this.cell_id_cell, this.getBoatOrientation,i)+'-leave-'+this.boardID); // Envia mensagem para os componentes (faz a comunicação)
            }

        },

        clickAction: function() {

            var sendData = []; // Para enviar vários dados para o servidor

            /* eslint-disable no-console */
            // console.log("TURN:" + this.$store.state.yourTurn);

            if (this.boardID == 0) { // Quadro onde coloca os barcos

                var i;

                // Através do nº de células que o barco ocupa, vai buscar as posições em que o barco se situará
                // Cada célula incrementará o count caso esteja livre (ou seja, se o done for false)
                // EWnvia mensagem para a célula clicada e para os vizinhos, a pedir para incrementar o contador
                for (i = 0; i<this.getCurrentBoat.size; i++) {
                    eventBus.$emit(getSiblingsCellID(this.cell_id_cell, this.getBoatOrientation,i)+'-count-'+this.boardID); // Envia mensagem para os componentes (faz a comunicação)
                }

                /* eslint-disable no-console */
                if (!this.getCurrentBoat.isPlaced) { // Se este barco ainda não tiver sido colocado na grid
                    if (count == this.getCurrentBoat.size) { // Se o número de células vazias é igual ao tamanho do barco, quer dizer que o barco pode ser colocado naquela posição
                        
                        
                        this.$store.commit('increaseNumBoats');

                        var positionsUsedByBoat = []; // Vai guardar posições em que o barco ocupa


                        for (i = 0; i<this.getCurrentBoat.size; i++) { // Envia mensagem done para a célula clicada e para os vizinhos, a indicar que o  barco ficará aí
                            
                            /* eslint-disable no-console */
                            // console.log("aa" + this.getCurrentBoat.isPlaced);
                            this.boatPlaced(); // Coloca o barco atual como colocado, para não repetir o mesmo (boolean)
                            // console.log("teste" + getSiblingsCellID(this,this.getBoatOrientation,i));

                            // Guarda as posições que o barco ocupa
                            positionsUsedByBoat.push(getSiblingsCellID(this.cell_id_cell, this.getBoatOrientation,i));

                            // done-1 é para colocar os barcos já na grid do jogador, quando começa o jogo
                            // done-0 é a grid onde coloca os barcos
                            eventBus.$emit(getSiblingsCellID(this.cell_id_cell, this.getBoatOrientation,i)+'-done-1'); // Envia mensagem para os componentes (faz a comunicação)
                            eventBus.$emit(getSiblingsCellID(this.cell_id_cell, this.getBoatOrientation,i)+'-done-'+this.boardID); // Envia mensagem para os componentes (faz a comunicação)
                        }


                        // Envia as posições que o barco ocupa, para guardar na base de dados os barcos adicionados
                        sendData[0] = positionsUsedByBoat; // Envia posições do barco
                        sendData[1] = this.$store.state.gameID; // Envia o id do jogo
                        sendData[2] = this.$store.state.num_player; // Envia o nº do jogador
                        sendData[3] = this.getCurrentBoat.num; // Envia o nº do barco
                        sendData[4] = false; // Indica que não é um barco random (automático)
                        this.$socket.emit('placedBoat', sendData); // Quando é colocado um novo barco, são enviadas as posições, o id do jogo e o nº do jogador


                        /* if (this.$store.state.num_boats == 5 && this.$store.state.ready) {
                            this.$socket.emit('finishedAddingBoats', this.$store.state.gameID);
                        } */

                    }
                }

            } else if (this.boardID == 2 && this.$store.state.yourTurn) { // Quando clica na matriz do adversário (caso seja a sua vezz de jogar)

                // Vai buscar a classe do elemento clicado (com o cell_id_cell no quadro boardID)
                eventBus.$emit(this.cell_id_cell + '-class-' + this.boardID);

                // this.cellMarked(); // Marca o tiro na célula
                if (cellClass != 'shot' && cellClass != 'water') { // Não deixa clicar se já tiver sido clicado lá
                    sendData[0] = this.cell_id_cell; // Envia posições do barco
                    sendData[1] = this.$store.state.gameID; // Envia o id do jogo
                    sendData[2] = this.$store.state.num_player; // Envia o nº do jogador
                    this.$socket.emit('shot', sendData); // Quando é feito um tiro, é enviado o id do jogo, o nº do jogador e a posição do tiro
                }

            }




        },

        boatPlaced: function() {
            /* eslint-disable no-console */
            // console.log("cc" + this.getCurrentBoat.isPlaced);
            this.$store.commit('placeBoat', true);
        },

    },
    computed:{
        // Devolve a orientação do barco, que é alterada no ficheiro index.js na pasta store, quando é clicado no botão
        getBoatOrientation: function(){
            return this.$store.state.boatOrientation
        },
        getCurrentBoat: function() {
            return this.$store.state.currentBoat
        }
    },
    mounted(){ // Quando o componente é colocado no ecrã
        // Quando é  recebida a mensagem, é feito o markCell ou o demarkCell
        // Depende da mensagem recebida, se for por ex A2-hover, fará markCell à celula A2
        // Se for por ex A3-leave, fará demarkCell à célula A3
        // Como é emitida uma mensagem baseado num ID, apenas é enviado para aqueles que têm esse ID
        // Ex. eventBus.$emit('A5-leave-0'), no B3 ficará B3-leave-0, não existe nenhuma mensagem dessas (logo não faz nada no on)
        eventBus.$on(this.cell_id_cell+'-hover-'+this.boardID,this.markCell)
        eventBus.$on(this.cell_id_cell+'-leave-'+this.boardID,this.demarkCell)
        eventBus.$on(this.cell_id_cell+'-remove-'+this.boardID, this.demarkCellGrid);


        // Coloca o done = false, para indicar que já não estão ocupadas
        eventBus.$on(this.cell_id_cell+'-removedone-'+this.boardID,this.removeDone)


        // Indica às celulas que ficarão ocupadas com um barco (após o clique)
        eventBus.$on(this.cell_id_cell+'-done-'+this.boardID,this.cellMarked)

        // Devolve o nº de células cujo done = false (que estão livres - ainda não foram preenchidas)
        eventBus.$on(this.cell_id_cell+'-count-'+this.boardID,this.counte)


        // Devolve a classe de uma determinada célula
        eventBus.$on(this.cell_id_cell+'-class-'+this.boardID, this.getCellClass);


        eventBus.$on(this.cell_id_cell+'-water-'+this.boardID, this.waterCell)
        eventBus.$on(this.cell_id_cell+'-shot-'+this.boardID, this.shotCell)
        eventBus.$on(this.cell_id_cell+'-exploded-'+this.boardID, this.explodCell)

    },
    created(){

    },

    sockets:{

        automaticPlacingBoats: function(cell_id) { // Quando o servidor avisa ao cliente que serão colocados barcos aleatórios

            if (cell_id == this.cell_id_cell && this.boardID == 0) { // Coloca os barcos no board dos barcos (e apenas 1x)

                this.automaticPlacingBoats();
            }

        },


        resetBoats: function(cell_id) {

            if (cell_id == this.cell_id_cell && this.boardID == 0) { // Remove os barcos da board dos barcos (e apenas 1x)

                this.clearBoats();
            }

        },


        loadGame: function (matrix) {

            if (this.cell_id_cell == 'A1' && this.boardID == 0) { // Para fazer só 1x

                // Remove o modo de colocar barcos
                this.$store.commit('disablePlacingBoat');

                // Remove o modo de rodar os dados
                this.$store.commit('diceMode', false); 


                var cell_id = "";

                for (var i=0; i<2; i++) { // Percorre a matriz dos 2 jogadores porque tem de carregar as 2

                    for (var y=0; y<10; y++) {    
                        for (var j=0; j<10; j++) {

                            cell_id = String.fromCharCode(65+j) + "" + (y+1); // Converter (0,0) para A1, (0,1) para A2, etc
                            
                            // Caso seja para atualizar no próprio quadro (os tiros do adversário)
                            if (i == this.$store.state.num_player) {
                    
                                if (matrix[i][y][j] == "W") {
                                    eventBus.$emit(cell_id + '-water-1');
                                } else if (matrix[i][y][j] == "Q" || matrix[i][y][j] == "R" || matrix[i][y][j] == "S" || matrix[i][y][j] == "T" || matrix[i][y][j] == "U") { // Caso o adversário tenha acertado
                                    eventBus.$emit(cell_id + '-shot-1');
                                } else if (matrix[i][y][j] == "O") { // Caso o barco tenha explodido (todo atingido)
                                    eventBus.$emit(cell_id + '-exploded-1')
                                } else if (matrix[i][y][j] != "X") { // Caso seja para desenhar o seu próprio barco
                                    eventBus.$emit(cell_id + '-done-1');
                                } else if (matrix[i][y][j] == "X") {
                                    eventBus.$emit(cell_id + '-leave-1');
                                }
                                // var data = [cell_id, i, matrix[i][y][j]];
                                // io.sockets.in('room' + gameID).emit("changeCell", data);

                            // Caso seja para atualizar no quadro do adversário (os nossos tiros)
                            } else {

                                if (matrix[i][y][j] == "W") {
                                    eventBus.$emit(cell_id + '-water-2');
                                } else if (matrix[i][y][j] == "Q" || matrix[i][y][j] == "R" || matrix[i][y][j] == "S" || matrix[i][y][j] == "T" || matrix[i][y][j] == "U") { // Caso o adversário tenha acertado
                                    eventBus.$emit(cell_id + '-shot-2');
                                } else if (matrix[i][y][j] == "O") { // Caso o barco tenha explodido (todo atingido)
                                    eventBus.$emit(cell_id + '-exploded-2')
                                } else if (matrix[i][y][j] == "X") {
                                    eventBus.$emit(cell_id + '-leave-2');
                                }

                            }

                        }
                    }

                }

            }

        },

        changeCell: function(data) { 

            var cell_id = data[0];
            var numPlayer = data[1];
            var letter = data[2];


            // Caso seja para atualizar no próprio quadro (os tiros do adversário)
            if (numPlayer == this.$store.state.num_player) {

                // Os barcos, só deve remover na sua grid (não no oponente)
                if (letter == "X") { // Se receber a letra 'X', quer dizer que é para remover o barco que está lá posicionado
                    
                    eventBus.$emit(cell_id + '-removedone-0'); // Coloca this.done = false nestas células (para poderem ser usadas depois para colocar os barcos)
                    eventBus.$emit(cell_id + '-leave-0'); // Envia a célula que queremos retirar o barco e indicamos leave (que significa para retirar a cor do barco - o board 0 é o quadro onde colocamos os barcos)
                
                    // Tem de atualizar nos 2 quadros
                    eventBus.$emit(cell_id + '-removedone-1'); // Coloca this.done = false nestas células (para poderem ser usadas depois para colocar os barcos)
                    eventBus.$emit(cell_id + '-remove-1'); // Envia a célula que queremos retirar o barco e indicamos leave (que significa para retirar a cor do barco - o board 0 é o quadro onde colocamos os barcos)

                }

                if (letter == "W") { // Caso o adversário não tenha acertado
                    eventBus.$emit(cell_id + '-water-1');
                } else if (letter == "Q" || letter == "R" || letter == "S" || letter == "T" || letter == "U") { // Caso o adversário tenha acertado
                    eventBus.$emit(cell_id + '-shot-1');
                    // this.$store
                } else if (letter == "O") { // Caso o barco tenha explodido (todo atingido)
                    eventBus.$emit(cell_id + '-exploded-1')
                } else if (letter != "X") { // Caso seja para desenhar o seu próprio barco
                    eventBus.$emit(cell_id + '-done-1');
                }

            // Caso seja para atualizar no quadro do adversário (os nossos tiros)
            } else {

                if (letter == "W") { // Caso não tenha acertado
                    eventBus.$emit(cell_id + '-water-2');
                } else if (letter == "Q" || letter == "R" || letter == "S" || letter == "T" || letter == "U") { // Caso tenha acertado
                    eventBus.$emit(cell_id + '-shot-2');
                } else if (letter == "O") { // Caso o barco tenha explodido (todo atingido)
                    eventBus.$emit(cell_id + '-exploded-2')
                }

            }

        },
    }
}


// Este método permite obter os vizinhos baseado numa profundidade e numa direção
// Por exemplo, se um barco vale 3 células e querem colocar na direção "direita"
// O que vai fazer é devolver o id dessa célula (neste caso, esta função será chamada 2 vezes porque a 1º célula é a que está hover)
// Ex. se barco vale 3 células e a posição é direita, se colocarmos no A0, sabemos que ficará A0, A1 e A2 (este método é chamado 2 vezes num for, e devolve A1 e A2)
// Se for direita (right), ele vai buscar a célula que está feito hover (ex. A2), retira o A, e acrescenta (1+1=2), devolvendo A2
/* function getSiblingsCellID(context,dir, depth){
    let lastCharIndex = context.cell_id_cell.length-1;
    if(dir == 'up') return (context.cell_id_cell.substr(0,1)+(parseInt(context.cell_id_cell.substr(1,lastCharIndex))-depth))
    if(dir == 'down') return (context.cell_id_cell.substr(0,1)+(parseInt(context.cell_id_cell.substr(1,lastCharIndex))+depth))
    if(dir == 'left') return (String.fromCharCode(parseInt(context.cell_id_cell.substr(0,1).charCodeAt(0)-depth))+(context.cell_id_cell.substr(1,lastCharIndex)))
    if(dir == 'right') return (String.fromCharCode(parseInt(context.cell_id_cell.substr(0,1).charCodeAt(0)+depth))+(context.cell_id_cell.substr(1,lastCharIndex)))
} */
function getSiblingsCellID(cell_id,dir, depth){
    let lastCharIndex = cell_id.length-1;
    if(dir == 'up') return (cell_id.substr(0,1)+(parseInt(cell_id.substr(1,lastCharIndex))-depth))
    if(dir == 'down') return (cell_id.substr(0,1)+(parseInt(cell_id.substr(1,lastCharIndex))+depth))
    if(dir == 'left') return (String.fromCharCode(parseInt(cell_id.substr(0,1).charCodeAt(0)-depth))+(cell_id.substr(1,lastCharIndex)))
    if(dir == 'right') return (String.fromCharCode(parseInt(cell_id.substr(0,1).charCodeAt(0)+depth))+(cell_id.substr(1,lastCharIndex)))
}



</script>

<style scoped>
.selected{ /* Classe para pintar o fundo da célula */
    background-color:grey;
}
.done{ /* Classe para pintar o fundo da célula ao clicar (quando o barco está colocado) */
    /* background-color: blue; */
    background-color: dimgray;

    background-size: 30px 30px;
}
.cant{ /* Classe para pintar o fundo da célula ao clicar (quando o barco está colocado) */
    background-color: red;
}
td{
    /* background-image: url("../assets/battlechip.png");
    background-size: 30px 30px; */
    border: 1px solid rgba(75, 75, 75, 0.171);
}
.water{
    background-color: aquamarine;
    animation-name: water;
    animation-fill-mode: forwards;
    animation-duration:1s;
}
@keyframes water{
    25%{background: grey;}
    75%{background: aquamarine;}
    100% {border-radius:50%; background: aquamarine; }
}
@keyframes shot{
    25%{background: grey;}
    75%{background: orange;}
    100% {border-radius:50%; background: orange; }
}
@keyframes explode{
    25%{background: orange;}
    75%{background: red;}
    100% {border-radius:50%; background: red; }
}
.shot{
    border-radius: 50%;
    animation-name: shot;
    animation-fill-mode: forwards;
    animation-duration:1s;
}
.explode{
    border-radius: 50%;
    animation-name: explode;
    animation-fill-mode: forwards;
    animation-duration:1s;
}
.dot {
  background-color: #bbb;
  
  display: inline-block;
}

</style>