<template>
    <div class="card chat-container">
        <div class="card-header">
            <div class="title">Chat</div>
        </div>
        <ul class="messages card-body">
            <Message v-bind:key="message.user+i" v-for="(message, i) in messages" v-bind:message="message.message" v-bind:user="message.user"/> 
      </ul>
        <div class="bottom_wrapper card-footer col-sm-12 col-md-12">
            <div class="form-control message_input_wrapper col-sm-9 col-md-9"><input v-on:keyup.enter="sendMessage" v-model="messageToSend" class="form-control message_input" placeholder="Mensagem" /></div>
            <div v-on:click="sendMessage" class="send_message col-sm-3 col-md-3">
                <div class="text">
                  <h4><i class="text fa fa-paper-plane"></i></h4>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
import Message from './Message.vue'

var messages = []; // Guarda as mensagens do chat (para ser atualizado)

export default {
    name: 'Chat',
    components:{
        Message,
    },

    props: { // Ao criar chat, tem de ser enviado este valor através do bind (v-bind:chat_id)
      chat_id: Number,
    },

    data: function(){
        return{
            messages: messages,
            messageToSend : "",
            chatID: this.chat_id,
        }
    },

    methods:{
        sendMessage: function () {
            /*eslint-disable no-console */
            // console.log("Seidnong message " + this.$data.messageToSend);

            var sendData = [this.$data.messageToSend, this.$store.state.gameID, this.$store.state.num_player];

            this.$socket.emit('sendMessage', sendData); // Avisa ao servidor que saiu (para avisar ao outro membro)
            this.$data.messageToSend = "";

        },
        autoScroll: function() {
          var container = this.$el.querySelector(".messages");
          container.scrollTop = container.scrollHeight-90;
        }
    },

    sockets:{ // Quando o backend comunica com o frontend através de sockets

        receivedMessage: function(message){ 
             /*eslint-disable no-console */
            // console.log("MESSAGE" + message);
            
            if (this.chatID == 1) {
                messages.push({user: '', message: message});
            }
            this.autoScroll();
        },


        addMessage: function(message){ 
            
            if (this.chatID == 1) {
                messages.push({user: message[0], message: message[1]});
            }
            this.autoScroll();

        },
  

    }

    
}
</script>

<style>
.chat-container{
    max-height: 450px;
}

.top_menu {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.top_menu .title {
  text-align: center;
  color: #bcbdc0;
  font-size: 20px;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 25px;
  margin: 0;
  height: 347px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.messages .message {
  clear: both;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages .message.left .avatar {
  float: left;
}
.messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 10px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.messages .message.left .text {
}
.messages .message.right .avatar {
  float: right;
}
.messages .message.right .text_wrapper {
  background-color: #c7eafc;
  /* margin-right: 20px; */
  float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.messages .message.right .text {
  color: #45829b;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .text_wrapper {
  display: inline-block;
 /*  padding: 5px; */
  border-radius: 3px;
  width: calc(100%);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  /* position: absolute; */
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}

.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}

.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  /* position: absolute; */
  bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #bcbdc0;
  position: relative;
  /* padding: 0 10px; */
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  /* position: absolute; */
  outline-width: 0;
  color: gray;
}
.bottom_wrapper .send_message {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 5px;
  background-color: #28a745;
  border: 2px solid #beccab;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper .send_message:hover {
  color: #28a745;
  background-color: #fff;
}
.bottom_wrapper .send_message .text {
  font-size: 18px;
  display: inline-block;
  line-height: 48px;
}


</style>