<template>
     <footer class="sticky-footer py-4 bg-success text-white">
        <div class="container text-center">
            <small>Copyright 2030 &copy; Afonso Soares | Alexandre Silva | Duarte Correia</small>
        </div>
    </footer>    
</template>
<script>
export default {
    
}
</script>

<style scoped>
.sticky-footer {
  flex-shrink: none;
  position: fixed;
  width:100%;
  bottom:0;
}
</style>