<template>
    <div class="text-center offset-md-3 col-md-6">
        <h4>Room name: {{roomName}}</h4>
        <ul class="list-group text-left">
            <li v-bind:key="user.name+i" class="list-group-item" v-for="(user, i) in users">{{user.name}}</li>
        </ul>
    </div>    
</template>

<script>

var users = [] // Guarda os utilizadores do jogo (que o servidor envia)
var roomName = "";
export default {
    props:['gameID'],
    name:"GameLobby",
    data: function(){
        return {
            users: users,
            roomName:roomName,
        }
    },
    created: function(){ // Pede ao servixxdor que devolva os jogadores do jogo
        /* eslint-disable no-console */
        this.$socket.emit('requestUsers', this.gameID);
    },
    sockets:{
        playersOfGame: function(val) { // O servidor devolve os jogadores do jogo
            console.log(val)

            users = [];
            
            val.players.forEach(element => {
                users.push({ name: element }); // Para cada jogador do quarto recebido no array, adiciona à página
            });


            var num_player; // Número do jogador (0 ou 1 dependendo de quem entra primeiro)
            //i dont really like this guard have you ever heard about sincronization?
            if (users.length == 2) { // Se o número de jogadores no quarto for 2, o quarto está cheio
                this.$socket.emit('gameFull', this.gameID); // Avisa ao servidor que o quarto está cheio (para começar o jogo)
                num_player = 1; // Foi o último a entrar
            } else {
                num_player = 0; // Foi o primeiro a entrar
            }

            this.$data.roomName = val.roomname;
            this.$data.users = users;

            console.log("roomname is"+val.roomname);
             // Define o seu nº de jogador (0 ou 1)
            this.$store.commit('setPlayer', num_player); // Guarda o número do jogador

        },
        gameStarted: function (gameID) {
            /*eslint-disable no-console*/
            console.log("Game Started" + this.gameID);
            this.$store.commit('setGameID', this.gameID); // Guarda o id do jogo para ser possível utilizar em qualquer componente
            this.$router.push({ path: `/game/${gameID}` }) // Vai para a rota do jogo
        },

    }
}
</script>

<style scoped>

</style>