<template>
  <div class="card game-container">
    <h5 class="card-header">{{msg}}</h5>
    <div class="card-body">
      <table class="bordered">
        <thead>
          <td></td>
          <td v-bind:key="'b'+i" v-for="(letter,i) in head_fields_game">{{letter}}</td>
        </thead>
        <tbody>
          <row v-bind:board_id=boardID v-bind:key="'a'+i" v-bind:cell_ids_row="rows_ids" v-for="(rows_ids,i) in cell_ids_game"></row>
        </tbody>
      </table>
    </div>
  </div>
  
</template>

<script>
import Row from './Row.vue'

export default {
  name: 'Game',
  components:{
    Row,
  },
  props: {
    msg: String,
    head_fields: Array,
    board_id: Number,
    cell_ids:Array

  },
  
  data: function(){
    return {
      head_fields_game: this.head_fields,
      cell_ids_game: this.cell_ids,
      boardID: this.board_id,
    }
  },


  methods:{

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

.game-container{
  max-width:400px;
}
</style>
