<template>
    <div class="text-center col-md-12">

        <!-- <button v-on:click=continuePlaying class="btn btn-success"><i class="fa fa-play"></i>Continue</button> -->
        <br>
        <span v-show="!alreadyRolled">
            <button class="btn btn-success" v-show="isDiceMode" v-on:click=getNumber><i class="fa fa-dice"></i> Roll Dice</button>
        </span>

        <div v-show="isDiceMode && readyMode">
            <div class="offset-md-8 col-md-4">
              <chat v-bind:chat_id=0 /> 
            </div>
        </div>

        <div v-show="!isDiceMode">
            <div v-show="isPlacingBoatMode && !readyMode">
                <button v-on:click=resetAllBoats class="btn btn-warning"><i class="fa fa-trash"></i> Reset</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button v-on:click=setReady class="btn btn-success"><i class="fa fa-check"></i> Ready</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button v-show="automaticMode" v-on:click=automaticPlacingBoats class="btn btn-success"><i class="fa fa-laptop-medical"></i> Automatic</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button v-on:click=rotateBoat class="btn btn-success"> <i class="fa fa-sync"></i> Orientation</button><br><br>
              <!-- <ul>
                <boat class="clickable" v-bind:key=boat.name v-for="boat in boats" v-bind:boat=boat v-bind:num=boat.num v-bind:name=boat.name v-bind:size=boat.size></boat>
              </ul> -->
              <div class="row">
                <div class="col-md-2">
                    <ul>
                      <boat class="clickable" v-bind:key=boat.name v-for="boat in boats" v-bind:boat=boat v-bind:num=boat.num v-bind:name=boat.name v-bind:size=boat.size></boat>
                    </ul>
                </div>
                <div class="col-md-4">
                  <Game msg="Your game" v-bind:board_id=0 v-bind:head_fields="head_fields" v-bind:cell_ids="cell_ids"/>
                </div>
                <div class="col-md-3">
                  <chat v-bind:chat_id=1 /> 
                </div>
              </div>
            </div>

            <div v-show="!isPlacingBoatMode">
                <button v-on:click=leaveGame class="btn btn-success"><i class="fa fa-door-open"></i> Leave</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="row">
                <div class="col-md-4">
                    <Game msg="Your game" v-bind:board_id=1 v-bind:head_fields="head_fields" v-bind:cell_ids="cell_ids"/>
                </div>
                <div class="col-md-4">
                    <Game msg="Oponent game" v-bind:board_id=2 v-bind:head_fields="head_fields" v-bind:cell_ids="cell_ids"/>                  
                </div>
                <div class="col-md-3">
                  <chat v-bind:chat_id=2 />
                </div>
              </div>

            </div>
        </div>
    </div>
</template>

<script>

import Game from './Game.vue'
import Boat from './Boat.vue'
import Chat from './Chat.vue'

const BOARD_SIZE = 10 ;var boats = [
  {
    name:"Carrier",
    size: 5,
    isPlaced: false,
    image:'../images/a.png',
    num: 'A',
  },
  {
    name:"Battleship",
    size: 4,
    isPlaced: false,
    image:'../images/b.png',
    num: 'B',
  },
  {
    name:"Cruiser",
    size: 3,
    isPlaced: false,
    image:'../images/c.png',
    num: 'C',
  },
  {
    name:"Submarine",
    size: 3,
    isPlaced: false,
    image:'../images/d.png',
    num: 'D',
  },
  {
    name:"Destroyer",
    size: 2,
    isPlaced: false,
    image:'../images/e.png',
    num: 'E',
  },
  ]



var letters = createGameHeader();
var cell_ids_arr = createGameBoard();

//Creating the letters above the game
function createGameHeader(){
    let gameheader_arr = [];
    for (let i = 1; i < BOARD_SIZE+1; i++) {
      let letter = String.fromCharCode(64+i)
      //to get the letters in alphabetic orders ascii65 = A 66=B, etc...
      //needs another for for a 10x10
      gameheader_arr.push(letter)
    }
  return gameheader_arr;
}

function createGameBoard(){
    //Creating the game itself
    let gameboard_arr = [];
    for (let i = 1; i < BOARD_SIZE+1; i++) {
      let row = [];
      for (let j = 0; j < BOARD_SIZE; j++) {
        let letter = String.fromCharCode(65+j)
        row.push(letter + i)
      }
      gameboard_arr.push(row)
    }
    return gameboard_arr;
}


export default {
  name: 'GameBoard',
  components: {
    Game,
    Boat,
    Chat
  },
  data: function () {

    return { 
      head_fields: letters,
      cell_ids: cell_ids_arr,
      boats,
    }
    
  },


  created: function(){ 
    
    this.$store.commit('setBoatsList', boats)

  },

  sockets:{

      winner: function (numPlayer) {
        /*eslint-disable no-console*/
          console.log("WINNER:" + numPlayer);

          // Ir para a página de vencedor
          this.$router.push({ path: `/winner/` })

      },

      boatExploded: function (boatExploded) {
          var numPlayer = boatExploded[0]; // Número do jogador que foi atingido
          var boatType = boatExploded[1]; // Tipo de barco
          /*eslint-disable no-console*/
          console.log("boatExploded:" + numPlayer + " " + boatType);
      },

      // startPlacingBoats: function(gameID) { 
          /*eslint-disable no-console*/
          // console.log("AAA" + gameID);
          // this.$store.commit('placeBoat', true);
      // },
      startPlaying: function () { // Para começar o jogo

          // Remove o modo de rodar os dados
          this.$store.commit('diceMode', false); 
        
          // Não é necessário desativar o modo de colocar barcos pois já tinha sido anteriormente (antes de rodarem os dados)

      },

      startRollingDice: function() {  // Para rodarem o dado (ver qual é o primeiro a começar)
          // Quando ambos indicam ao servidor que estão prontos (já colocaram todos os barcos), o servidor envia o startPlaying aos dois, para indicar que vão começar a jogar
          // disablePlacingBoat vai colocar a variavel placingBoats a false, logo o v-show irá se alterar (irá mostrar outras grids)
          this.$store.commit('disablePlacingBoat');

          // Começa o jogo dos dados para ver o primeiro a jogar
          this.$store.commit('diceMode', true); 

      },
      currentPlayer: function(playerTurn) { 
    
          // Quando ambos indicam ao servidor que estão prontos (já colocaram todos os barcos), o servidor envia o startPlaying aos dois, para indicar que vão começar a jogar
          // disablePlacingBoat vai colocar a variavel placingBoats a false, logo o v-show irá se alterar (irá mostrar outras grids)
          // Com base na informação recebida pelo servidor, guarda no store se é a vez dele ou não
          if (playerTurn == this.$store.state.num_player) { // Se o jogador que joga agora (enviado pelo servidor) for o próprio
              this.$store.commit('setYourTurn', true); // Indica que é a vez dele
          } else { // Se o jogador que joga agora (enviado pelo servidor) não for o próprio
              this.$store.commit('setYourTurn', false); // Indica que não é a vez dele
          }

      },
  },


  methods:{


    // Esta função permite sair de um jogo (vai para a lista de jogos)
    leaveGame: function () {

        this.$router.push({ path: `/gamelist/` })
        
        var sendData = [this.$store.state.num_player, this.$store.state.gameID];

        this.$socket.emit('leaveGame', sendData); // Avisa ao servidor que saiu (para avisar ao outro membro)

    },

    setReady: function () {

        // Só coloca pronto, se tiver colocado os 5 barcos
        if (this.$store.state.num_boats == 5) {

          this.$store.commit('setReady');

          // Remover o botão do automático
          // this.$store.commit('removeAutomaticMode'); 

        }
        
        // Ao clicar ready, se tiver os 5 barcos postos, avisa que está pronto
        if (this.$store.state.num_boats == 5 && this.$store.state.ready) {
            this.$socket.emit('finishedAddingBoats', [this.$store.state.gameID, this.$store.state.num_player]); // Avisa que está pronto
        }

    },

    resetAllBoats: function () {

        // Ao clicar no botão, avisa o servidor para apagar os barcos colocados
        this.$socket.emit('resetBoats');

    },

    automaticPlacingBoats: function () {

        // Ao clicar no botão, avisa o servidor para avisar as células (e pintar)
        this.$socket.emit('automaticPlacingBoats');

    },

    
    getNumber: function() { // Buscar número entre 1 e 6 do dado

      // Vai  buscar o valor do dado (entre 1 e 6)
      var val = (Math.floor(Math.random() * 6) + 1);

      // Envia o valor do dado para o servidor
      var data = [val, this.$store.state.gameID, this.$store.state.num_player]; // Envia o valor do dado, o jogo e o nº do jogador (0 ou 1)
      this.$socket.emit('rolledDice', data); // Envia os dados para o servidor (para depois comparar quem é que teve maior valor nos dados)

      // Após sair o valor nos dados, desaparece o dado para jogar
      this.$store.commit('setAlreadyRolled')

    },
    rotateBoat: function(){ // Rodar a orientação do barco
        /* eslint-disable no-console */
        this.$store.commit('toggleOrientation')
    },
    placeBoat: function() { // Remover a ação de colocar barcos (não pode colocar mais barcos)
        this.$store.commit('togglePlacingBoat')
    },
    hitSound: function(){
      this.$store.commit('playHit')
    },
    missSound: function(){
      this.$store.commit('playMiss')
    }

  },
  computed:{

    isPlacingBoatMode(){
      return this.$store.state.placingBoat;
    },
    isDiceMode() {
      return this.$store.state.diceMode;
    },
    alreadyRolled() {
      return this.$store.state.alreadyRolled;
    },
    automaticMode() {
      return this.$store.state.automaticPlacingMode;
    },
    readyMode() {
      return this.$store.state.ready;
    }

  }
}
</script>

<style scoped>

.gameContainer{
  display:inline-flex;
}
</style>
