<template>
    <div class="col-md-8 offset-md-2">
     
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text bg-success">Create new room:</span>
            </div>
            <input type="text" class="form-control" v-bind:class="inputClass" v-model="roomname" v-on:keyup.enter="createGame">
            <div class="input-group-append bg-success clickable">
                <span v-on:click="createGame" title="Create new game" class="input-group-text bg-success"><i class="fa fa-plus"></i></span>
            </div>
        </div>
        <ul class="col-md-8 offset-md-2 list-group scrollable">
            <li v-on:click="joinRoom(game.id)" class="clickable list-group-item d-flex justify-content-between align-items-center" v-bind:key="game+i" v-for="(game, i) in games">{{game.name}}<span v-bind:class="[game.users==game.max?'badge-danger':'badge-success']" class="badge badge-pill">{{game.users}}/{{game.max}}</span></li>
        </ul>
    </div>
</template>

<script>
//this will come from a socket
var games = []; // Jogos disponíveis para entrar
var roomname = ""; //guarda o nome do jogo a adicionar
var inputClass = ""; //para alterar as classes do input
export default {
    name:"GameList",
    data: function(){
        return {
            games: games,
            roomname: roomname,
            inputClass: inputClass,
        }
    },
    created: function(){
        this.$socket.emit('gamesList');
    },
    methods: {
        joinRoom: function(gameID) { // Este método permite entrar num determinado jogo
            /* eslint-disable no-console */
            // console.log("joinnnnnnn" + gameID);

            this.$store.commit('resetState'); // Faz reset
            this.$socket.emit('joinGame', [gameID, this.$store.state.userID]); // Indica ao servidor que quer entrar num jogo
            
        },
        createGame: function() { // Este método permite criar um novo jogo
            if(this.$data.roomname == ""){
               this.$data.inputClass = "border border-danger"
            }  else{
                this.$store.commit('resetState'); // Faz reset
                this.$socket.emit('createGame',this.$data.roomname); // Envia um socket para o servidor a avisar para criar jogo
                this.$data.roomname = "";
            }

        }
    },
    sockets:{ // Quando o backend comunica com o frontend através de sockets

        placeGames: function(val){ // Quando recebe socket.emit("placeGames", ...) pelo servidor, esta função é chamada, que adiciona os jogos ao frontend
            /* eslint-disable no-console */
            // Percorre os jogos que vai recebendo e vai adicionando à lista
            this.games = val;
        },
        roomJoined: function(gameID){
            /*eslint-disable no-console*/
                        this.$store.commit('resetState'); // Faz reset

            console.log("roomjoin"+gameID);
            this.$router.push({ path: `/gamelobby/${gameID}` })

        }

    }


}
</script>

<style scoped>
.bg-success{
    color: white;
}

.scrollable{
    max-height: 400px;
    overflow-y: scroll;
}
</style>