<template>
    <div class="message-template">
        <li class="message left appeared">
            <div class="row text text-left"><strong>{{ user }} &nbsp;</strong>&nbsp; {{message}}</div>
        </li> 
    </div>
    
</template>
<script>
export default {
    name: 'Message',
    props:{
        message: String,
        user: String,
    },
    data: function(){
        return{

        }
    },
    methods:{

    },
    
}
</script>

<style scoped>

.text {
    font-size: 12px;
}
strong{
    padding-right:10px;
}
</style>