<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <router-link to="/gamelist" class="navbar-brand"><img v-bind:src="logo" class="icon" alt="" />Battlechip</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <router-link to="/gamelist" class="nav-item nav-link">Game List</router-link>
                <router-link to="/profile" class="nav-item nav-link">Profile</router-link>
                <router-link to="/ranking" class="nav-item nav-link">Ranking</router-link>

            </div>
            <ul class="nav navbar-nav d-flex justify-content-end">
                <li><a class="nav-item nav-link" href="/logout">Logout</a></li>
            </ul>

        </div>
    </nav>
</template>

<script>
import logo from '../assets/battlechip.png'

export default {
    name:"Navbar",
    data: function(){
        return {
            logo:logo
        }
    }

}
</script>
<style scoped>
    .navbar{
        margin-bottom:10px;
    }
    .router-link-active{
        color: #FFFFFF!important;
        font-weight: 600;
    }
    .icon{
        height:150px;
    }
</style>