<template>
    
    <div class="col-md-12">
        <h2 class="offset-md-5 col-md-2">Games</h2>
        <br>
        <ul class="list-group offset-md-1 col-md-10 scrollable">
            <li class="list-group-item d-flex justify-content-between align-items-center" v-bind:key=game v-for="game in gamesList">{{ game.name }} ({{ game.id }})<i class="fa fa-trophy"></i><i class="fa fa-sad-cry"></i><button v-on:click=continuePlaying(game.id) class="btn btn-success"><i class="fa fa-play"></i> Resume game</button></li>
        </ul>
    </div>

</template>

<script>
var games = [];

export default {
    name: 'Profile',
    components:{
        
    },
    props: {
        
    },

    mounted() { // Quando componente é criado, deve pedir a lista de jogos do utilizador
        
        this.$socket.emit('notConcludedGamesOfUser', this.$store.state.userID);
        
    },


    methods: {

        continuePlaying: function (gameID) {

            // Define o id do jogo
            this.$store.commit('setGameID', gameID);


            // Vai para a rota do jogo
            this.$router.push({ path: `/game/${this.$store.state.gameID}` })
            

            // Ao clicar no botão, avisa o servidor que vai carregar um jogo
            this.$socket.emit('loadGame', [this.$store.state.gameID, this.$store.state.userID]);

        },

    },

    data: function(){
        return {
            gamesList: games,
        }
    },

    sockets:{ // Quando o backend comunica com o frontend através de sockets

        sendUserID: function(data){

            this.$store.commit('setUserID', data);

            this.$socket.emit('notConcludedGamesOfUser', this.$store.state.userID);

        },

        placeNotConcludedGames: function(val){ 
            // Percorre os jogos que vai recebendo e vai adicionando à lista
            this.gamesList = val;
        }
        
    }

    
}
</script>

<style>
.scrollable{
    overflow-y:scroll;
    height:500px;
}
</style>