<template>
    
    <div>
        <h2 class="offset-md-5 col-md-2"><i class="fa fa-trophy"></i> Rankings</h2>
        <br>
        <table class="table table-stripped offset-md-1 col-md-10">
            <thead>
                <tr class="bg-success text-light">
                    <td scope="col">#</td>
                    <td scope="col">User</td>
                    <td scope="col">Games won</td>
                    <td scope="col">Games lost</td>
                </tr>
            </thead>
            <tbody class="scrollable">
                <tr scope="row" v-bind:key="ranking" v-for="(ranking, i) in rankingsList">
                    <td>{{ i+1 }}</td>
                    <td>{{ ranking.name }}</td>
                    <td>{{ ranking.gamesWon }}</td>
                    <td>{{ ranking.gamesLost }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="bg-success text-light">
                    <td scope="col">#</td>
                    <td scope="col">User</td>
                    <td scope="col">Games won</td>
                    <td scope="col">Games lost</td>
                </tr>
            </tfoot>
        </table>
    </div>

</template>

<script>


var rankings = [];

export default {
    name: 'Ranking',
    components:{
        
    },
    props: {
        
    },

    created: function(){ // Quando componente é criado, deve pedir a lista de rankings
        this.$socket.emit('rankingsList');
    },

    data: function(){
        return {
            rankingsList: rankings,
        }
    },

    sockets:{ // Quando o backend comunica com o frontend através de sockets

        rankingsList: function(val){ 
            // Percorre os rankings que vai recebendo e vai adicionando à lista

            // Ordena pelo número de vitórias
            val.sort(function(a, b){return (b.gamesWon-b.gamesLost)-(a.gamesWon-a.gamesLost)});

            // Atualiza a lista
            this.rankingsList = val;
        },
        
    }

}
</script>

<style scoped>
.scrollable{
    overflow:auto;
    height:600px;
}
</style>