<template>
    <tr class="bordered">
        <td>{{cell_ids_cell[0].substr(1,cell_ids_cell[0].len)}}</td>
        <cell v-bind:board_id=boardID v-bind:key="i" v-bind:ref="for_cell_id" v-for="(for_cell_id, i) in cell_ids_cell" v-bind:cell_id="for_cell_id"></cell>
    </tr>
</template>

<script>
import Cell from './Cell.vue'


export default {
    name: 'Row',
    components:{
        Cell,
    },
    props: {
        cell_ids_row: Array,
        board_id: Number,
    },
    data: function(){
        return {
            cell_ids_cell: this.cell_ids_row,
            boardID: this.board_id,
        }
    }
}
</script>

<style>
td{
    width:2em;
    height:2em;
    
}
tr > td:first{
    border: 0;
}

</style>