<template>
    <div class="offset-md-3 col-md-9">
        <div class="row offset-md-1">
            <img class="image" src="https://cdn.fbsbx.com/v/t59.2708-21/60667976_461414787958127_1048977248729694208_n.gif?_nc_cat=102&_nc_ohc=AOXrdJltGsYAX-3lloR&_nc_ht=cdn.fbsbx.com&oh=9a7110ffdcb887a6d611e8dabc7019a6&oe=5E2110F8" alt='A throphy for the winner'>
        </div>
        <div class="row offset-md-2 bold">
            <span>Winner is {{ playerWinner }}</span>
        </div>
    </div>
    
</template>

<script>
var winner = "______";

export default {
    name: 'Winner',
    components:{

    },
    props: {

    },
    created: function(){ // Quando componente é criado, deve pedir o vencedor do jogo
        
    },


    data: function(){
        return {
            playerWinner: winner
        }
    },

    sockets:{ // Quando o backend comunica com o frontend através de sockets

        sendWinner: function(val){ 

            // Percorre os jogos que vai recebendo e vai adicionando à lista
            this.playerWinner = val;
        },
        
    }

}
</script>

<style>
    td{
        width:2em;
        height:2em;
        
    }
    tr > td:first{
        border: 0;
    }
    .bold{
        font-weight: bold;
        font-size:50px;
        
    }
    .image{
        max-height:400px
    }
</style>