<div class="col-md-6 offset-md-3 card">
        <div class="card-body">
            <div class="card-title pull-left">Login</div>
            <form id="auth_form" action="/login" method="POST">
                <div class="form-group">
                    <label for="email">Email </label>
                    <input class="form-control" type="text" name="email"  id="email" placeholder="Email">
                </div>
                <div class="form-group">    
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                </div>

                <input class="col-md-2 btn btn-success" type="submit" value="Entrar">
                <hr>
                <span class="col-offset-4 col-md-2">Don't have an account?</span>
                <a class="col-offset-4 col-md-3 btn btn-warning" role="button" href="/register">Register now!</a>

            </form>

        </div>

    </div>