<div class="col-md-6 offset-md-3 card">
        <div class="card-body">
            <div class="card-title pull-left">Register new account</div>
            <form id="auth_form" action="/register" method="POST">
                <div class="form-group">
                    <label for="email">Email </label>
                    <input class="form-control" type="text" name="email"  id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="email">Username </label>
                    <input class="form-control" type="text" name="username"  id="username" placeholder="Username">
                </div>
                <div class="form-group">    
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                </div>

                <input class="col-md-2 btn btn-warning" type="submit" value="Register">

            </form>

        </div>

    </div>